<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /service
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /service/index.php [L]
</IfModule>